.slideshow-container {
  margin: 2rem;
}

.slideshow-image {
  display: none;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.slideshow-image.visible {
  display: flex;
}
img {
  width: 400px;
  height: 400px;
}
