.mainapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.divfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexfooteraff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerVideo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 30px;
  gap: 30 px;
}
p {
  row-gap: 30px;
}
