.mainapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50rem;
}
