.mainapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}

.divfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
